@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background: hsl(220, 15%, 55%);
    display: grid;
    place-items: center;
    height: 100vh ;
}

.card{
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    row-gap: 20px;
}

.upper{
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
}

.upper img{
    width: 100%;
}

.lower{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.lower p{
    text-align: center;
    margin-bottom: 20px;
    color: hsl(210, 1%, 34%);
    font-weight: 400;
}

@media screen and (max-width: 475px) {
    
}

